{{> header title='Zip-Doc' cssName='main'}}
<div class="zd-contents" style="background-image: url('img/img_bg_about.jpg')">
	<section class="main-copy main-wrapper">
			<img class="img-pen" src="img/img_main_copy_pen.png">
			<div class="main-copy-title">당신만을 위한<br>
				인테리어 중개 서비스 [집닥]
			</div>
			<div class="main-copy-desc">모든 공간에는 각자의 삶이 녹아있기에,<br>
				그 공간을 채우는 인테리어는 무엇보다도 중요합니다.<br>
				이제, [집닥]이 당신의 생활에 꼭 맞춘 인테리어를 제시합니다.
			</div>
			<div class="main-copy-btn">인테리어 무료견적신청</div>
	</section>
	<section class="main-gallery main-wrapper"></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>
	<section></section>

</div>
{{> footer jsName='main'}}
