{{> header title='Zip-Doc' cssName='partners'}}
<div class="header-details-bar-wrapper">
	<div class="header-details-bar">
		<ul>
			<li class="curious-clicker header-details-bar-active">궁금해요</li>
			<li class="myroom-clicker">내방어때</li>
			<li class="review-clicker">집닥후기</li>
		</ul>
	</div>
</div>
<div class="zd-contents">

</div>
{{> footer jsName='partners'}}
